/*
!/.gitignore
!/broot/
!/fish/
!/rclone/
!/karabiner/karabiner.json
!/lvim/
!/bin/
!/mods/mods.yml 
fish/conf.d/secrets.fish
.gh-token
rclone/rclone.conf
authorized_key
.DS_Store
fish/fish_variables
!/hammerspoon/
!/trae/keybindings.json
!/trae/settings.json
!/trae/argv.json
!/trae/extensions/extensions.json
!/.env
!/Dockerfile
hammerspoon/Spoons/
.trash
!/brew-dependencies.txt
