/*
!/.gitignore
!/broot/
!/fish/
!/rclone/
!/karabiner/karabiner.json
!/lvim/
!/mods/mods.yml 
fish/conf.d/secrets.fish
rclone/rclone.conf
authorized_key
.DS_Store
fish/fish_variables
!/hammerspoon/
!/.env
!/Dockerfile
hammerspoon/Spoons/
.trash
!/brew-dependencies.txt
